<html>
  <head>

    <style>
      form {
        position: relative;
        background-color: #fff;
        width: 35%;
        margin: 30px auto;
        text-align: center;
      }

      input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        outline: none;
        height: 60px;
        line-height: 60px;
        border-radius: 4px;
      }

    </style>

  </head>
  <body>
    <div class="container">
      
      <br>
      <form action="" method="post" id="login-form">
        <h1> Effettua il Login</h1>
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}"> <br>
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}"> <br>
        <input class="btn btn-default" type="submit" value="Conferma">
      </form>
      
    </div>
  </body>
</html>